#Comments and empty lines are ignored - Use # sign for comments

# Valheim Data Path REQUIRED
Valheim World Path = "C:\Users\[YOUR USER HERE]\AppData\LocalLow\IronGate\Valheim"

# SteamCMD FOLDER path
SteamCMD Path = "C:\steamcmd"

# Backup FOLDER Path
Backup Path = "C:\valheimbackup"

# Update Batch FILE
Update Batch = "C:\valheim\update.bat"

# Times to update and backup per day. 3 Will run every 8 hours since startup.
Times Per Day = 3

# Delete Old backups
Delete Old Backups = Y

# Number of backups to delete, will be ignored if selected not to delete
# Note: Check/Consider your VM storage size.
# 12 saves at 3 times per day allows 4 days of saves
Number of Backups to save = 12